@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

/*classes auxiliares*/
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear {clear: both;}

.w33 {
    width: 33.3%;
    float: left;
}

.w50 {
    width: 50%;
    float: left;
}

.center {text-align: center;}

/*classes da pagina home*/

/*header*/
header {
    padding: 8px 0;
}

.logo {
    float: left;
}

.logo a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 25px;
}

nav.menu-desktop {
    float: right;
}

nav.menu-desktop ul {
    position: relative;
    top: 8px;
}

nav.menu-desktop li {
    padding: 0 10px;
    display: inline-block;
}

li.selected {
    font-weight: bold;
    text-decoration: overline;
}

nav.menu-desktop a {
    color: black;
    text-decoration: none;
    font-weight: lighter;
    transition: .5s;

    
}

nav.menu-desktop a:hover {
    color: #52aaa7;
}

/*menu mobile*/
nav.menu-mobile {
    display: none;
    float: right;
}

nav.menu-mobile h2 {
    cursor: pointer;
}

nav.menu-mobile ul {
    display: none;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 3;
    text-align: center;
}

nav.menu-mobile li {
    padding: 8px 0;
    border-bottom: 1px solid black;
}

nav.menu-mobile li.selected {
    background-color: rgba(14, 143, 155, 0.2);
    text-decoration: none;
}

nav.menu-mobile a {
    display: block; /*para aceitar o clique não apenas no nome, mas sim no background*/
    text-decoration: none;
    color: black;
    font-weight: lighter;
    letter-spacing: 1.3px;
}

nav.menu-mobile a:hover {
    color: #52aaa7;
}

/*sessão 1*/
section.main-bg {
    width: 100%;
    padding: 100px 0;
    background-image: url(../images/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    left: 0;
    top: 0;
    z-index: 1;
}

section.main-bg > .container {
    position: relative;
    z-index: 2;
    text-align: center;
}

section.main-bg h2 {
    text-align: center;
    color:  #52aaa7;
    font-size: 30px;
    font-weight: normal;
}

section.main-bg p {
    text-align: left;
    color: white;
    font-size: 15px;
    font-weight: normal;
    padding-top: 25px;
}

section.main-bg button {
    text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 25px;
    border-radius: 20px;
    border: 0;
    background-color: #52aaa7;
    color: white;
    font-weight: normal;
}

.main-bg button:hover {
    background-color: #1d6c64;
}

/*sessao 2*/
section.diferenciais {
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

.line-text {
    display: inline-block;
    position: relative;
}

.line-text > div {
    position: absolute;
    left: 0;
    top: -5px;
    width: 93px;
    height: 3px;
    background-color: #52aaa7;
}

.line-text h2 {
    color: #52aaa7;
    font-weight: normal;
    font-size: 27px;
}

.icones-diferenciais {
    margin-top: 30px;
}

.box-icone-single {
    width: 33.3%;
    padding: 0 10px;
    float: left;
    margin-bottom: 30px;
}

.box-icone-single h2 {
    font-size: 30px;
    padding-bottom: 15px;
}

.box-icone-single p {
    font-weight: lighter;
    font-size: 16px;
}

/*sessao 3*/
section.sobre-equipe {
    width: 100%;
    padding: 30px 0;
    background-color: rgb(225, 225, 225);
}

section.sobre-equipe > .container {
    display: flex;
    flex-wrap: wrap;
}

.equipe-container {
    width: 50%;
}

.avatar-box {
    margin-top: 30px;
    text-align: left;
}

.avatar-box > div {
    vertical-align: middle;

}

.avatar-box .img-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-position: center;
    background-size: 100% 100%;
    display: inline-block;
}

.descricao-avatar {
    width: calc(98% - 70px);
    display: inline-block;
    padding: 0 10px;

}

.descricao-avatar h3 {
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    color: rgb(30, 30, 30);
}

.descricao-avatar p {
    font-weight: lighter;
}

.sobre-container {
    width: 50%;
}

.sobre-container p {
    padding-top: 15px;
    font-size: 15px;
    font-weight: lighter;
}

/*sessao 4*/
section.inscricao {
    padding: 25px 0;
    background-color: #52aaa7;
}

.inscricao-texto {
    color: white;
    font-size: 22px;
    padding: 0 10px;
    font-weight: lighter;
}

.inscricao-form input[type=email]{
    width: calc(100% - 120px);
    background-color: white;
    height: 40px;
    border: 1px solid #ccc;
    display: inline-block;
    padding-left: 10px;
}

.inscricao-form input[type=submit] {
    width: 120px;
    height: 40px;
    background-color: #1d6c64;
    border: 0;
    display: inline-block;
    color: white;
    cursor: pointer;
}

/*sessao 5*/
section.cards {
    padding: 30px 0;
}

.card-single {
    width: 33.3%;
    float: left;
    padding: 0 25px;
}

.card-single img {
    width: 100%;
    height: 200px;
}

.card-single h3 {
    padding: 10px 0;
    font-weight: normal;
    font-size: 19px;
}

.card-single p {
    font-weight: lighter;
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

/*footer1*/
footer.footer1 {
    padding: 20px 0;
    background-color: #52aaa7;
    color: white;
}

footer.footer1 h2 {
    font-weight: 300;
    margin-bottom: 20px;
}

footer.footer1 p {
    margin-top: 8px;
    font-weight: lighter;
    padding-right: 15px;
}

footer.footer1 a {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    padding-right: 15px;
}

footer.footer2 {
    background-color: #1d6c64;
    padding: 20px 0;
}

.footer2 p {
    color: white;
    font-weight: lighter;
}

/*classes da pagina sobre*/
/*sessao 1*/
section.banner-sobre {
    padding: 40px 0;
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
}

section.banner-sobre > div.container {
    position: relative;
    z-index: 2;
}

section.banner-sobre h2 {
    color: #52aaa7;
    font-weight: normal;
    font-size: 35px;
}

section.banner-sobre p {
    max-width: 60%;
    color: white;
    font-weight: lighter;
    font-size: 15px;
    padding-top: 15px;
    text-align: justify;
}

/*sessao2*/
section.sessao2-sobre {
    padding: 40px 0;
}

section.sessao2-sobre img {
    max-width: 40%;
    float: left;
    padding-right: 8px;
}

section.sessao2-sobre p {
    margin-bottom: 30px;
    font-weight: lighter;
}

/*sessao3*/
section.parallax {
    background-image: url(../images/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    background-attachment: fixed;
}

.parallax > div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parallax h3 {
    color: #52aaa7;
    text-align: center;
    border: 1px solid #52aaa7;
    width: 200px;
    padding: 5px;
}

.parallax p {
    max-width: 70%;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-weight: lighter;
    text-align: justify;
}

/*section4*/
section.cards {
    padding: 40px;
    position: relative;
}

.cards .line-text {
    display: block;
}

.cards .card {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards .img-card {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1d6c64;
}

.card p {
    padding: 10px;
    font-weight: lighter;
    font-size: 15px;
}

/*responsivo*/
@media screen and (max-width: 768px){
    .box-icone-single {
        width: 100%;
    }
 
    .equipe-container {
        width: 100%;
    }

    .sobre-container {
        width: 100%;
        margin-top: 30px;
    }

    .w50, .w33 {
        width: 100%;
        margin: 10px 0;
    }

    .card-single {
        width: 100%;
        margin-bottom: 30px;
    }

    .card-single img {
        height: auto;
    }

    footer.footer1 {
        text-align: center;
    }

    section.banner-sobre p {
        max-width: 100%;
    }

    section.sessao2-sobre img {
        float: none;
        padding: 10px;
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px){
    nav.menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;
    }
}
