* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2%;
    background-color: black;

    display: flex; /*Se o elemento pai tem display flez, todos os elementos filhos sempre vão ficar um do lado do outro, alinhado*/
    flex-wrap: wrap;


}

.content {
    width: 33.3%;
    height: 400px;
    background-color: red;
    border: 1px solid black;
}