* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2%;
    background-color: green;

    text-align: center;
}

.content {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: red;
    border: 1px solid black;
}